# IDE
.vscode/
.idea/

# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
venv/
.venv/
.env

# Frontend
node_modules/
dist/

# OS
Thumbs.db
.DS_Store

# Build
main.spec
*.tsbuildinfo

# Logs
*.log

# Vue frontend
webui/frontend/node_modules/
webui/frontend/.vite/
webui/frontend/vite.config.js
webui/frontend/vite.config.d.ts

# Runtime data
/data/
